<!DOCTYPE html>
  <head>
    <title>Log in</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="global.css">  </head>

  <body>

    <div class="container">
          <div class="topnav">
              <div class="topnav-centered">
                <a href="/" class="active">Din Personlig Træner</a>
              </div> 
            <a href="/frontpage">Forside</a>
            <a href="/gyms">Center</a>
            <a href="/courses">Hold</a>
            <a href="/instructors">Instruktøre</a> 
            <a href="/contactus">Kontakt os</a>
              <div class="topnav-right">
                <a href="/chooseSignup">Bliv medlem</a>
                <a href="/chooseLogin">Log in</a>
              </div>
          </div>

          <div class="header-before-container">
          <h1>LOG IN</h1>
          </div>

          <div class="container-in-container">

  


          </div>

          <div class="footer">
            <div class="footer-centered">
                <a href="/" class="active">Din Personlig Træner</a>
          </div>
          </div>







    </>
  </body>
</html>