<!DOCTYPE html>
  <head>
    <title>Forside</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="global.css">
  </head>

  <body>

    <div class="container">
          <div class="topnav">
              <div class="topnav-centered">
                <a href="/" class="active">Din Personlig Træner</a>
              </div>
              
            <a href="/frontpage">Forside</a>
            <a href="/gyms">Center</a>
            <a href="/courses">Hold</a>
            <a href="/instructors">Instruktøre</a> 
            <a href="/contactus">Kontakt os</a>

              <div class="topnav-right">
                <a href="/chooseSignup">Bliv medlem</a>
                <a href="/chooseLogin">Log in</a>
              </div>
          </div>

          <div class="header-before-container">
            <br>
            <br>
        <h1>Velkommen</h1>
        </div>
          <div class="container-in-container">

              <div class="column-in-container">
                <div class="column-in-container-header">
                  <h1>Om </h1>
                </div>
                <div class="section-in-column">
                  More muscle, less fat. Leaner, stronger, and faster. It’s what people want from fitness centers, and it’s what fitness center managers want from their marketing activities.
                  The problem is, small gym owners don’t have enough time to exercise their marketing skills and managers at multi-located gyms have difficulty figuring out which marketing exercises deliver real results.
                  More muscle, less fat. Leaner, stronger, and faster. It’s what people want from fitness centers, and it’s what fitness center managers want from their marketing activities.
                  The problem is, small gym owners don’t have enough time to exercise their marketing skills and managers at multi-located gyms have difficulty figuring out which marketing exercises deliver real results.
                  More muscle, less fat. Leaner, stronger, and faster. It’s what people want from fitness centers, and it’s what fitness center managers want from their marketing activities.
                  The problem is, small gym owners don’t have enough time to exercise their marketing skills and managers at multi-located gyms have difficulty figuring out which marketing exercises deliver real results.
                  More muscle, less fat. Leaner, stronger, and faster. It’s what people want from fitness centers, and it’s what fitness center managers want from their marketing activities.
                  The problem is, small gym owners don’t have enough time to exercise their marketing skills and managers at multi-located gyms have difficulty figuring out which marketing exercises deliver real results.
                  More muscle, less fat. Leaner, stronger, and faster. It’s what people want from fitness centers, and it’s what fitness center managers want from their marketing activities.
                  The problem is, small gym owners don’t have enough time to exercise their marketing skills and managers at multi-located gyms have difficulty figuring out which marketing exercises deliver real results.
                  More muscle, less fat. Leaner, stronger, and faster. It’s what people want from fitness centers, and it’s what fitness center managers want from their marketing activities.
                  The problem is, small gym owners don’t have enough time to exercise their marketing skills and managers at multi-located gyms have difficulty figuring out which marketing exercises deliver real results.
                </div>

              </div>

              <div class="column-in-container">
                <div class="column-in-container-header">
                  <h1>Medlemskaber</h1>
                </div>
                <div class="section-in-column">
                  Short on time? There’s no doubt that managing ad campaigns, monitoring social media, and developing creative assets for print campaigns can slow you down and leave you winded.
                  Short on know-how? You may be getting advice from all directions. “Direct mail still works.” “Everybody’s on SnapChat.” “Email is dead; you’ve gotta do Google Ads.” It’s nearly impossible to unravel the tangled web of conflicting opinions and figure out what will actually put feet on your treadmills.
                  Your marketing is out of shape, and you don’t have the time and knowledge to get moving in the right direction. So, what do you do?
                  Short on time? There’s no doubt that managing ad campaigns, monitoring social media, and developing creative assets for print campaigns can slow you down and leave you winded.
                  Short on know-how? You may be getting advice from all directions. “Direct mail still works.” “Everybody’s on SnapChat.” “Email is dead; you’ve gotta do Google Ads.” It’s nearly impossible to unravel the tangled web of conflicting opinions and figure out what will actually put feet on your treadmills.
                  Your marketing is out of shape, and you don’t have the time and knowledge to get moving in the right direction. So, what do you do?
                  Short on time? There’s no doubt that managing ad campaigns, monitoring social media, and developing creative assets for print campaigns can slow you down and leave you winded.
                  Short on know-how? You may be getting advice from all directions. “Direct mail still works.” “Everybody’s on SnapChat.” “Email is dead; you’ve gotta do Google Ads.” It’s nearly impossible to unravel the tangled web of conflicting opinions and figure out what will actually put feet on your treadmills.
                  Your marketing is out of shape, and you don’t have the time and knowledge to get moving in the right direction. So, what do you do?
                  Short on time? There’s no doubt that managing ad campaigns, monitoring social media, and developing creative assets for print campaigns can slow you down and leave you winded.
                  Short on know-how? You may be getting advice from all directions. “Direct mail still works.” “Everybody’s on SnapChat.” “Email is dead; you’ve gotta do Google Ads.” It’s nearly impossible to unravel the tangled web of conflicting opinions and figure out what will actually put feet on your treadmills.
                  Your marketing is out of shape, and you don’t have the time and knowledge to get moving in the right direction. So, what do you do?
                </div>
              </div>




          </div>

          <div class="footer">
            <div class="footer-centered">
              <a href="/" class="active">Din Personlig Træner</a>
          </div>
          </div>







    </div>
  </body>
</html>